/* Side Plate */
.dcs-plate {position:fixed;z-index:999;right:0;top:20%;padding:.5em 1.5em;color:#fff;text-decoration:none;border:1px solid #777;border-radius:6px 6px 0 0;font-family:Arial, sans-serif;font-size:14px;line-height:1.4;background:#999999;background:-moz-linear-gradient(top, #999999 0%, #656565 50%, #5e5e5e 50%, #666666 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#656565), color-stop(50%,#5e5e5e), color-stop(100%,#666666));background:-webkit-linear-gradient(top, #999999 0%,#656565 50%,#5e5e5e 50%,#666666 100%);background:-o-linear-gradient(top, #999999 0%,#656565 50%,#5e5e5e 50%,#666666 100%);background:-ms-linear-gradient(top, #999999 0%,#656565 50%,#5e5e5e 50%,#666666 100%);background:linear-gradient(to bottom, #999999 0%,#656565 50%,#5e5e5e 50%,#666666 100%);}
.dcs-plate:hover {background-color:#7e7e7e;}
.dcs-plate_title {display:inline-block;vertical-align:middle;margin:0 0 0 1em;}
.dcs-plate_counter {display:inline-block;vertical-align:middle;padding:0.2em 0.4em;color:red;background-color:#fff;border-radius:2px;}

/* Main Form */
.dcs-overlay {position:fixed;z-index:1000;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.63);display: none;}
.dcs-form {position:absolute;z-index:1001;top:10%;left:50%;width:50%;margin-left:-25%;padding:30px;background-color:#f5f5f5;border-radius:6px;font-family:Arial, sans-serif;font-size:14px;line-height:1.4; display: none;}
.dcs-form p {margin:.5em 0;}
.dcs-form_line {margin:.5em 0;padding-right:18px;}
.dcs-form_close {position:absolute;right:0;top:0;width:30px;height:30px;color:#333;text-decoration:none;font-size:30px;line-height:1;text-shadow:0 0 1px #000;text-align:center;}
.dcs-form_close:hover {color:#ccc;}

/* Form Elements */
.dcs-title {margin:1em 0 0;font-size:22px;line-height:1;font-variant:small-caps;font-weight:normal;color:#999;}
/*.dcs-form_field {margin-right:2px;}*/
.dcs-input {width:100%;height:36px;padding:0 8px;border:1px solid #ccc;border-radius:3px;background:#fff;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);font-family:Arial, sans-serif;font-size:14px;line-height:1.4;}
.dcs-textarea {width:100%;min-height:100px;padding-left:8px;padding-right:8px;border:1px solid #ccc;;border-radius:3px;background:#fff;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);font-family:Arial, sans-serif;font-size:14px;line-height:1.4;resize:vertical;}
.dcs-select {width:100%;height:36px;padding:0 8px;border:1px solid #ccc;border-radius:3px;background:#fff;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);font-family:Arial, sans-serif;font-size:14px;line-height:1.4;}
.dcs-button {position:relative;display:inline-block;min-width:80px;height:34px;padding:0 8px;line-height:34px;text-decoration:none;text-align:center;color:#fff;background-color:#39f;background-image:-webkit-linear-gradient(top, #4eaffa, #0f80cc);background-image:-moz-linear-gradient(top, #4eaffa, #0f80cc);background-image:-o-linear-gradient(top, #4eaffa, #0f80cc);background-image:-ms-linear-gradient(top, #4eaffa, #0f80cc);background-image:linear-gradient(to bottom, #4eaffa, #0f80cc);border:1px solid #1484d0;border-radius:3px;-webkit-box-shadow:0 2px 3px rgba(0,0,0,.25), inset 0 1px 1px #88d6ff;cursor:pointer;}
.dcs-button:hover {background-color:#39f;background-image:-webkit-linear-gradient(top, #0f80cc, #4eaffa );background-image:-moz-linear-gradient(top, #0f80cc, #4eaffa );background-image:-o-linear-gradient(top, #0f80cc, #4eaffa );background-image:-ms-linear-gradient(top, #0f80cc, #4eaffa );background-image:linear-gradient(to bottom, #0f80cc, #4eaffa );border:1px solid #1484d0;border-radius:3px;-webkit-box-shadow:0 0 3px rgba(0,0,0,.25), inset 0 -1px 1px #88d6ff;}
.dcs-button:active {top:1px;}

/* Search Field */
.dcs-add_button {float:right;margin:8px 0 0;}
.dcs-search_wrap {position:relative;left:-8px;overflow:hidden;padding:8px 26px 8px 8px;}
.dcs-search_input:focus {-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(125,125,125,0.6);}

/* Add Ticket */
.dcs-addticket {margin:1em 0 0;padding:1em 16px;background-color:#ececec;-webkit-box-shadow:inset 0 2px 1px rgba(0,0,0,0.1);}
.dcs-addticket_name {float:left;width:45%;margin-right:18px;}
.dcs-addticket_email {overflow:hidden;}
.dcs-addticket_button {text-align:right;}

/* Tickets list */
.dcs-tickets {margin:.5em 0;}
.dcs-tickets_item {margin:.5em 0;padding:0 8px;line-height:30px;background-color:#7DCFFE;background-color:rgba(125,207,254,0.5);-webkit-box-shadow:inset 0 2px 1px rgba(0,0,0,0.1);cursor:pointer;}
.dcs-tickets_description {display:none;margin:.5em 0 1em;padding:0;}
.dcs-tickets_title {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.dcs-tickets_author {float:right;color:#007CD0;max-width:22%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.dcs-tickets_history {list-style:none;margin:0;padding:.5em 1em;background-color:#ECECEC;}
.dcs-tickets_history {}
.dcs-tickets_reply {margin:.5em 0;padding:.25em .5em;background:#f0f0f0;background:-moz-linear-gradient(135deg, #f0f0f0 0%, #f5f5f5 100%);background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#f0f0f0), color-stop(100%,#f5f5f5));background:-webkit-linear-gradient(135deg, #f0f0f0 0%,#f5f5f5 100%);background:-o-linear-gradient(135deg, #f0f0f0 0%,#f5f5f5 100%);background:-ms-linear-gradient(135deg, #f0f0f0 0%,#f5f5f5 100%);background:linear-gradient(135deg, #f0f0f0 0%,#f5f5f5 100%);}
.dcs-tickets_reply .dcs-tickets_author {float:none;text-align:right;max-width:none;margin-right:1em;font-size:0.9em;color:#999;}
.dcs-tickets_reply .dcs-tickets_author__self {color:#007CD0;}
.dcs-tickets_status {position:relative;font-size:22px;line-height:1;font-variant:small-caps;font-weight:normal;color:#999;text-align:center;background:#ECECEC;}
.dcs-tickets_status__open {color:#cf0000;}
.dcs-tickets_status__close {color:#92D36E;}

.dcs-satisfied {text-align:center;}
.dcs-satisfied_question {padding:0 1em 0 0;}
.dcs-satisfied_label {}
.dcs-satisfied_input {}

.dcs-addreply {margin:0 1em;}
.dcs-addreply_button {text-align:right;}


/* Helpers */
.rotate_ccw {-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-o-transform-origin:100% 100%;transform-origin:100% 100%;}
.rotate_cw {-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform-origin:50% 50%;-moz-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-o-transform-origin:100% 100%;transform-origin:100% 100%;}