{% load i18n %}<script src="{{ STATIC_URL }}clients_support/scripts.js"></script>

<a href="#" class="dcs-plate rotate_ccw">
    <span class="dcs-plate_counter rotate_cw">3</span>
    <span class="dcs-plate_title">
        {% trans 'Django Client Support' %}
    </span>
</a>

<div class="dcs-overlay"></div>
    <div class="dcs-form tickets">
    <div class="dcs-search">
        <a href="#" class="dcs-button dcs-add_button">{% trans 'Add Ticket' %}</a>
        <div class="dcs-search_wrap">
            <input type="search" class="dcs-input dcs-search_input" placeholder="{% trans 'Search...' %}">
        </div>
    </div>

    <div class="dcs-addticket" style="display: none;">
        <form class="" action="#" method="post" id="addticket-form">
            {% with user_auth=user.is_authenticated %}
            <div class="dcs-form_line dcs-addticket_name"{% if user_auth %} style="display: none;"{% endif %}>
                <div class="field-error alert-warning hide" data-name="guest_name"></div>
                <input type="text" id="addticket-guest_name" class="dcs-input" placeholder="{% trans 'Name' %}">
            </div><div class="dcs-form_line dcs-addticket_email"{% if user_auth %}  style="display: none;"{% endif %}>
                <div class="field-error alert-warning hide" data-name="guest_email"></div>
                <input type="email" id="addticket-guest_email" class="dcs-input" placeholder="{% trans 'Email' %}">
            </div>
            {% endwith %}
            <div class="dcs-form_line">
                <div class="field-error alert-warning hide" data-name="type"></div>
                <select class="dcs-select" id="addticket-topic">
                    {% comment %}<option>Choose topic...</option>
                    <option>Technical Support</option>
                    <option>Complaint</option>
                    <option>Feature Suggestion</option>
                    <option>Other</option>{% endcomment %}
                </select>
            </div>
            <div class="dcs-form_line">
                <div class="field-error alert-warning hide" data-name="subject"></div>
                <input type="text" class="dcs-input dcs-addticket_email" placeholder="{% trans 'Title' %}" id="addticket-title">
            </div>
            <div class="dcs-form_line">
                <div class="field-error alert-warning hide" data-name="text"></div>
                <textarea class="dcs-textarea" placeholder="{% trans 'Problem Description...' %}" id="addticket-description"></textarea>
            </div>
            <div class="dcs-form_line dcs-addticket_button">
                <button class="dcs-button">{% trans 'Send' %}</button>
            </div>
        </form>
    </div>

    <span class="tickets-list">
    <h2 class="dcs-title">{% trans 'your tickets' %}</h2>
    <dl class="dcs-tickets your-tickets">

    </dl>

    <h2 class="dcs-title">{% trans 'other tickets' %}</h2>
    <dl class="dcs-tickets other-tickets">

    </dl>
    </span>
    
    <a href="#" class="dcs-form_close">&times;</a>
</div>

    <div class="dcs-form messages">
        <h2 class="dcs-title">{% trans 'MESSAGE WAS SENDED' %}</h2>
    </div>


<script type="text/template" id="add-message-form"><li class="dcs-tickets_addreply">
    <form method="post">
    <div class="dcs-form_line">
        <div class="field-error alert-warning hide" data-name="text"></div>
        <textarea name="text" class="dcs-textarea" placeholder="{% trans 'Your Message...' %}"></textarea>
    </div>
    <div class="dcs-form_line">
        <div class="dcs-satisfied">
            <span class="dcs-satisfied_question">{% trans 'Are you satisfied?' %}</span>
            <label class="dcs-satisfied_label"><input type="radio" class="dcs-satisfied_input" name="satisfied" value="yes">{% trans 'Yes' %}</label>
            <label class="dcs-satisfied_label"><input type="radio" class="dcs-satisfied_input" name="satisfied" value="no">{% trans 'No' %}</label>
        </div>
    </div>
    <div class="dcs-form_line dcs-addreply_button">
        <button class="dcs-button">{% trans 'Reply' %}</button>
    </div>
    </form>
</li></script>